﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:801px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:181px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:10px;
  top:45px;
  width:791px;
  height:43px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:787px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:20px;
  top:57px;
  width:57px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:87px;
  top:55px;
  width:130px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:252px;
  top:55px;
  width:130px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8 {
  position:absolute;
  left:229px;
  top:59px;
  width:9px;
  height:16px;
  text-align:center;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:432px;
  top:57px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:499px;
  top:55px;
  width:130px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:656px;
  top:55px;
  width:61px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u14 {
  position:absolute;
  left:727px;
  top:55px;
  width:61px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u15 {
  position:absolute;
  left:10px;
  top:112px;
  width:49px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u16 {
  position:absolute;
  left:66px;
  top:112px;
  width:49px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u17 {
  position:absolute;
  left:122px;
  top:112px;
  width:49px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u18 {
  position:absolute;
  left:178px;
  top:112px;
  width:61px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u19 {
  position:absolute;
  left:246px;
  top:112px;
  width:88px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:18px;
}
#u20 {
  position:absolute;
  left:10px;
  top:89px;
  width:565px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:144px;
  width:791px;
  height:235px;
  overflow:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:235px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:292px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u26 {
  position:absolute;
  left:20px;
  top:0px;
  width:40px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u28 {
  position:absolute;
  left:60px;
  top:0px;
  width:121px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:181px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:281px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u34 {
  position:absolute;
  left:381px;
  top:0px;
  width:93px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u36 {
  position:absolute;
  left:474px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u38 {
  position:absolute;
  left:569px;
  top:0px;
  width:85px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u40 {
  position:absolute;
  left:654px;
  top:0px;
  width:103px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u42 {
  position:absolute;
  left:757px;
  top:0px;
  width:89px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u44 {
  position:absolute;
  left:846px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u46 {
  position:absolute;
  left:942px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u48 {
  position:absolute;
  left:0px;
  top:30px;
  width:20px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u50 {
  position:absolute;
  left:20px;
  top:30px;
  width:40px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u52 {
  position:absolute;
  left:60px;
  top:30px;
  width:121px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:181px;
  top:30px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:281px;
  top:30px;
  width:100px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u58 {
  position:absolute;
  left:381px;
  top:30px;
  width:93px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u60 {
  position:absolute;
  left:474px;
  top:30px;
  width:95px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u62 {
  position:absolute;
  left:569px;
  top:30px;
  width:85px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u64 {
  position:absolute;
  left:654px;
  top:30px;
  width:103px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u66 {
  position:absolute;
  left:757px;
  top:30px;
  width:89px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u68 {
  position:absolute;
  left:846px;
  top:30px;
  width:96px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u70 {
  position:absolute;
  left:942px;
  top:30px;
  width:95px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
}
#u72 {
  position:absolute;
  left:0px;
  top:60px;
  width:20px;
  height:37px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:37px;
}
#u74 {
  position:absolute;
  left:20px;
  top:60px;
  width:40px;
  height:37px;
}
#u75 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u76 {
  position:absolute;
  left:60px;
  top:60px;
  width:121px;
  height:37px;
}
#u77 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u78 {
  position:absolute;
  left:181px;
  top:60px;
  width:100px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
}
#u80 {
  position:absolute;
  left:281px;
  top:60px;
  width:100px;
  height:37px;
}
#u81 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u82 {
  position:absolute;
  left:381px;
  top:60px;
  width:93px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u84 {
  position:absolute;
  left:474px;
  top:60px;
  width:95px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u85 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:37px;
}
#u86 {
  position:absolute;
  left:569px;
  top:60px;
  width:85px;
  height:37px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:37px;
}
#u88 {
  position:absolute;
  left:654px;
  top:60px;
  width:103px;
  height:37px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:37px;
}
#u90 {
  position:absolute;
  left:757px;
  top:60px;
  width:89px;
  height:37px;
}
#u91 {
  position:absolute;
  left:2px;
  top:3px;
  width:85px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
}
#u92 {
  position:absolute;
  left:846px;
  top:60px;
  width:96px;
  height:37px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u94 {
  position:absolute;
  left:942px;
  top:60px;
  width:95px;
  height:37px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u96 {
  position:absolute;
  left:0px;
  top:97px;
  width:20px;
  height:35px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u98 {
  position:absolute;
  left:20px;
  top:97px;
  width:40px;
  height:35px;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u100 {
  position:absolute;
  left:60px;
  top:97px;
  width:121px;
  height:35px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u102 {
  position:absolute;
  left:181px;
  top:97px;
  width:100px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u103 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u104 {
  position:absolute;
  left:281px;
  top:97px;
  width:100px;
  height:35px;
}
#u105 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u106 {
  position:absolute;
  left:381px;
  top:97px;
  width:93px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u107 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u108 {
  position:absolute;
  left:474px;
  top:97px;
  width:95px;
  height:35px;
}
#u109 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
}
#u110 {
  position:absolute;
  left:569px;
  top:97px;
  width:85px;
  height:35px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u112 {
  position:absolute;
  left:654px;
  top:97px;
  width:103px;
  height:35px;
}
#u113 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
}
#u114 {
  position:absolute;
  left:757px;
  top:97px;
  width:89px;
  height:35px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:35px;
}
#u116 {
  position:absolute;
  left:846px;
  top:97px;
  width:96px;
  height:35px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u118 {
  position:absolute;
  left:942px;
  top:97px;
  width:95px;
  height:35px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u120 {
  position:absolute;
  left:0px;
  top:132px;
  width:20px;
  height:35px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u122 {
  position:absolute;
  left:20px;
  top:132px;
  width:40px;
  height:35px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u124 {
  position:absolute;
  left:60px;
  top:132px;
  width:121px;
  height:35px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u126 {
  position:absolute;
  left:181px;
  top:132px;
  width:100px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u128 {
  position:absolute;
  left:281px;
  top:132px;
  width:100px;
  height:35px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
}
#u130 {
  position:absolute;
  left:381px;
  top:132px;
  width:93px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u132 {
  position:absolute;
  left:474px;
  top:132px;
  width:95px;
  height:35px;
}
#u133 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
}
#u134 {
  position:absolute;
  left:569px;
  top:132px;
  width:85px;
  height:35px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u136 {
  position:absolute;
  left:654px;
  top:132px;
  width:103px;
  height:35px;
}
#u137 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
}
#u138 {
  position:absolute;
  left:757px;
  top:132px;
  width:89px;
  height:35px;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:35px;
}
#u140 {
  position:absolute;
  left:846px;
  top:132px;
  width:96px;
  height:35px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u142 {
  position:absolute;
  left:942px;
  top:132px;
  width:95px;
  height:35px;
}
#u143 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u144 {
  position:absolute;
  left:0px;
  top:167px;
  width:20px;
  height:30px;
}
#u145 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u146 {
  position:absolute;
  left:20px;
  top:167px;
  width:40px;
  height:30px;
}
#u147 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u148 {
  position:absolute;
  left:60px;
  top:167px;
  width:121px;
  height:30px;
}
#u149 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u150 {
  position:absolute;
  left:181px;
  top:167px;
  width:100px;
  height:30px;
}
#u151 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u152 {
  position:absolute;
  left:281px;
  top:167px;
  width:100px;
  height:30px;
}
#u153 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u154 {
  position:absolute;
  left:381px;
  top:167px;
  width:93px;
  height:30px;
}
#u155 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u156 {
  position:absolute;
  left:474px;
  top:167px;
  width:95px;
  height:30px;
}
#u157 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u158 {
  position:absolute;
  left:569px;
  top:167px;
  width:85px;
  height:30px;
}
#u159 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u160 {
  position:absolute;
  left:654px;
  top:167px;
  width:103px;
  height:30px;
}
#u161 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u162 {
  position:absolute;
  left:757px;
  top:167px;
  width:89px;
  height:30px;
}
#u163 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u164 {
  position:absolute;
  left:846px;
  top:167px;
  width:96px;
  height:30px;
}
#u165 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u166 {
  position:absolute;
  left:942px;
  top:167px;
  width:95px;
  height:30px;
}
#u167 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u168 {
  position:absolute;
  left:0px;
  top:197px;
  width:20px;
  height:30px;
}
#u169 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u170 {
  position:absolute;
  left:20px;
  top:197px;
  width:40px;
  height:30px;
}
#u171 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u172 {
  position:absolute;
  left:60px;
  top:197px;
  width:121px;
  height:30px;
}
#u173 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u174 {
  position:absolute;
  left:181px;
  top:197px;
  width:100px;
  height:30px;
}
#u175 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u176 {
  position:absolute;
  left:281px;
  top:197px;
  width:100px;
  height:30px;
}
#u177 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u178 {
  position:absolute;
  left:381px;
  top:197px;
  width:93px;
  height:30px;
}
#u179 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u180 {
  position:absolute;
  left:474px;
  top:197px;
  width:95px;
  height:30px;
}
#u181 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u182 {
  position:absolute;
  left:569px;
  top:197px;
  width:85px;
  height:30px;
}
#u183 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u184 {
  position:absolute;
  left:654px;
  top:197px;
  width:103px;
  height:30px;
}
#u185 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u186 {
  position:absolute;
  left:757px;
  top:197px;
  width:89px;
  height:30px;
}
#u187 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u188 {
  position:absolute;
  left:846px;
  top:197px;
  width:96px;
  height:30px;
}
#u189 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u190 {
  position:absolute;
  left:942px;
  top:197px;
  width:95px;
  height:30px;
}
#u191 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u192 {
  position:absolute;
  left:0px;
  top:227px;
  width:20px;
  height:30px;
}
#u193 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u194 {
  position:absolute;
  left:20px;
  top:227px;
  width:40px;
  height:30px;
}
#u195 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u196 {
  position:absolute;
  left:60px;
  top:227px;
  width:121px;
  height:30px;
}
#u197 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u198 {
  position:absolute;
  left:181px;
  top:227px;
  width:100px;
  height:30px;
}
#u199 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u200 {
  position:absolute;
  left:281px;
  top:227px;
  width:100px;
  height:30px;
}
#u201 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u202 {
  position:absolute;
  left:381px;
  top:227px;
  width:93px;
  height:30px;
}
#u203 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u204 {
  position:absolute;
  left:474px;
  top:227px;
  width:95px;
  height:30px;
}
#u205 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u206 {
  position:absolute;
  left:569px;
  top:227px;
  width:85px;
  height:30px;
}
#u207 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u208 {
  position:absolute;
  left:654px;
  top:227px;
  width:103px;
  height:30px;
}
#u209 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u210 {
  position:absolute;
  left:757px;
  top:227px;
  width:89px;
  height:30px;
}
#u211 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u212 {
  position:absolute;
  left:846px;
  top:227px;
  width:96px;
  height:30px;
}
#u213 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u214 {
  position:absolute;
  left:942px;
  top:227px;
  width:95px;
  height:30px;
}
#u215 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u216 {
  position:absolute;
  left:0px;
  top:257px;
  width:20px;
  height:30px;
}
#u217 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u218 {
  position:absolute;
  left:20px;
  top:257px;
  width:40px;
  height:30px;
}
#u219 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u220 {
  position:absolute;
  left:60px;
  top:257px;
  width:121px;
  height:30px;
}
#u221 {
  position:absolute;
  left:2px;
  top:7px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u222 {
  position:absolute;
  left:181px;
  top:257px;
  width:100px;
  height:30px;
}
#u223 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u224 {
  position:absolute;
  left:281px;
  top:257px;
  width:100px;
  height:30px;
}
#u225 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u226 {
  position:absolute;
  left:381px;
  top:257px;
  width:93px;
  height:30px;
}
#u227 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u228 {
  position:absolute;
  left:474px;
  top:257px;
  width:95px;
  height:30px;
}
#u229 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u230 {
  position:absolute;
  left:569px;
  top:257px;
  width:85px;
  height:30px;
}
#u231 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u232 {
  position:absolute;
  left:654px;
  top:257px;
  width:103px;
  height:30px;
}
#u233 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u234 {
  position:absolute;
  left:757px;
  top:257px;
  width:89px;
  height:30px;
}
#u235 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u236 {
  position:absolute;
  left:846px;
  top:257px;
  width:96px;
  height:30px;
}
#u237 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u238 {
  position:absolute;
  left:942px;
  top:257px;
  width:95px;
  height:30px;
}
#u239 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:3px;
  top:38px;
  width:37px;
  height:16px;
}
#u241 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u242 {
  position:absolute;
  left:3px;
  top:74px;
  width:37px;
  height:16px;
}
#u243 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u244 {
  position:absolute;
  left:3px;
  top:109px;
  width:37px;
  height:16px;
}
#u245 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u246 {
  position:absolute;
  left:3px;
  top:144px;
  width:37px;
  height:16px;
}
#u247 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
}
#u248 {
  position:absolute;
  left:195px;
  top:116px;
  width:109px;
  height:18px;
  color:#FF0000;
  text-align:center;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
