﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1784 {
  position:absolute;
  left:207px;
  top:60px;
  width:691px;
  height:445px;
}
#u1785 {
  position:absolute;
  left:2px;
  top:214px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1786 {
  position:absolute;
  left:7px;
  top:31px;
  width:189px;
  height:474px;
}
#u1787 {
  position:absolute;
  left:2px;
  top:229px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1788 {
  position:absolute;
  left:7px;
  top:9px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1789 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1790 {
  position:absolute;
  left:21px;
  top:45px;
  width:100px;
  height:85px;
}
#u1790_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1791 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u1792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1792 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u1793 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u1794 {
  position:absolute;
  left:0px;
  top:20px;
  width:67px;
  height:20px;
}
#u1795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1795 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u1796 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1797 {
  position:absolute;
  left:0px;
  top:40px;
  width:93px;
  height:20px;
}
#u1798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1798 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u1799 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u1800 {
  position:absolute;
  left:0px;
  top:60px;
  width:95px;
  height:20px;
}
#u1801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1801 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u1802 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1803 {
  position:absolute;
  left:17px;
  top:141px;
  width:169px;
  height:16px;
  color:#FF0000;
}
#u1804 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1805 {
  position:absolute;
  left:206px;
  top:34px;
}
#u1805_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1805_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1806 {
  position:absolute;
  left:8px;
  top:70px;
  width:677px;
  height:327px;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
}
#u1807 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:7px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1809 {
  position:absolute;
  left:19px;
  top:0px;
  width:49px;
  height:30px;
}
#u1810 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u1811 {
  position:absolute;
  left:68px;
  top:0px;
  width:70px;
  height:30px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u1813 {
  position:absolute;
  left:138px;
  top:0px;
  width:232px;
  height:30px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1815 {
  position:absolute;
  left:370px;
  top:0px;
  width:199px;
  height:30px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u1817 {
  position:absolute;
  left:569px;
  top:0px;
  width:56px;
  height:30px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u1819 {
  position:absolute;
  left:625px;
  top:0px;
  width:47px;
  height:30px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:132px;
}
#u1821 {
  position:absolute;
  left:0px;
  top:30px;
  width:19px;
  height:132px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:58px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:132px;
}
#u1823 {
  position:absolute;
  left:19px;
  top:30px;
  width:49px;
  height:132px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:58px;
  width:45px;
  word-wrap:break-word;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:132px;
}
#u1825 {
  position:absolute;
  left:68px;
  top:30px;
  width:70px;
  height:132px;
  text-align:left;
}
#u1826 {
  position:absolute;
  left:2px;
  top:58px;
  width:66px;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:132px;
}
#u1827 {
  position:absolute;
  left:138px;
  top:30px;
  width:232px;
  height:132px;
  text-align:left;
}
#u1828 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:132px;
}
#u1829 {
  position:absolute;
  left:370px;
  top:30px;
  width:199px;
  height:132px;
  text-align:left;
}
#u1830 {
  position:absolute;
  left:2px;
  top:18px;
  width:195px;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:132px;
}
#u1831 {
  position:absolute;
  left:569px;
  top:30px;
  width:56px;
  height:132px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:58px;
  width:52px;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:132px;
}
#u1833 {
  position:absolute;
  left:625px;
  top:30px;
  width:47px;
  height:132px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:58px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:122px;
}
#u1835 {
  position:absolute;
  left:0px;
  top:162px;
  width:19px;
  height:122px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:53px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:122px;
}
#u1837 {
  position:absolute;
  left:19px;
  top:162px;
  width:49px;
  height:122px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:53px;
  width:45px;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:122px;
}
#u1839 {
  position:absolute;
  left:68px;
  top:162px;
  width:70px;
  height:122px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:53px;
  width:66px;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:122px;
}
#u1841 {
  position:absolute;
  left:138px;
  top:162px;
  width:232px;
  height:122px;
  text-align:left;
}
#u1842 {
  position:absolute;
  left:2px;
  top:21px;
  width:228px;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:122px;
}
#u1843 {
  position:absolute;
  left:370px;
  top:162px;
  width:199px;
  height:122px;
  text-align:left;
}
#u1844 {
  position:absolute;
  left:2px;
  top:21px;
  width:195px;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:122px;
}
#u1845 {
  position:absolute;
  left:569px;
  top:162px;
  width:56px;
  height:122px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:53px;
  width:52px;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:122px;
}
#u1847 {
  position:absolute;
  left:625px;
  top:162px;
  width:47px;
  height:122px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:53px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:38px;
}
#u1849 {
  position:absolute;
  left:0px;
  top:284px;
  width:19px;
  height:38px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:11px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:38px;
}
#u1851 {
  position:absolute;
  left:19px;
  top:284px;
  width:49px;
  height:38px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u1853 {
  position:absolute;
  left:68px;
  top:284px;
  width:70px;
  height:38px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:38px;
}
#u1855 {
  position:absolute;
  left:138px;
  top:284px;
  width:232px;
  height:38px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:11px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
}
#u1857 {
  position:absolute;
  left:370px;
  top:284px;
  width:199px;
  height:38px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:38px;
}
#u1859 {
  position:absolute;
  left:569px;
  top:284px;
  width:56px;
  height:38px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:11px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:38px;
}
#u1861 {
  position:absolute;
  left:625px;
  top:284px;
  width:47px;
  height:38px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863 {
  position:absolute;
  left:643px;
  top:156px;
  width:25px;
  height:16px;
}
#u1864 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1865 {
  position:absolute;
  left:643px;
  top:284px;
  width:25px;
  height:16px;
}
#u1866 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1867 {
  position:absolute;
  left:11px;
  top:157px;
  width:24px;
  height:16px;
}
#u1868 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1869 {
  position:absolute;
  left:11px;
  top:284px;
  width:24px;
  height:16px;
}
#u1870 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1871 {
  position:absolute;
  left:75px;
  top:354px;
  width:72px;
  height:38px;
}
#u1871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1872 {
  position:absolute;
  left:147px;
  top:354px;
  width:232px;
  height:38px;
}
#u1872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1873 {
  position:absolute;
  left:379px;
  top:354px;
  width:199px;
  height:38px;
}
#u1873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1874 {
  position:absolute;
  left:578px;
  top:354px;
  width:56px;
  height:38px;
}
#u1874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1875 {
  position:absolute;
  left:644px;
  top:365px;
  width:25px;
  height:16px;
}
#u1876 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:8px;
  top:35px;
  width:65px;
  height:27px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  position:absolute;
  left:81px;
  top:35px;
  width:65px;
  height:27px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  position:absolute;
  left:154px;
  top:35px;
  width:65px;
  height:27px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1885 {
  position:absolute;
  left:11px;
  top:365px;
  width:24px;
  height:16px;
}
#u1886 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1805_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1805_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1887 {
  position:absolute;
  left:8px;
  top:70px;
  width:677px;
  height:327px;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:7px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1890 {
  position:absolute;
  left:19px;
  top:0px;
  width:49px;
  height:30px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u1892 {
  position:absolute;
  left:68px;
  top:0px;
  width:70px;
  height:30px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u1894 {
  position:absolute;
  left:138px;
  top:0px;
  width:232px;
  height:30px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1896 {
  position:absolute;
  left:370px;
  top:0px;
  width:199px;
  height:30px;
}
#u1897 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u1898 {
  position:absolute;
  left:569px;
  top:0px;
  width:56px;
  height:30px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u1900 {
  position:absolute;
  left:625px;
  top:0px;
  width:47px;
  height:30px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:132px;
}
#u1902 {
  position:absolute;
  left:0px;
  top:30px;
  width:19px;
  height:132px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:58px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:132px;
}
#u1904 {
  position:absolute;
  left:19px;
  top:30px;
  width:49px;
  height:132px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:58px;
  width:45px;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:132px;
}
#u1906 {
  position:absolute;
  left:68px;
  top:30px;
  width:70px;
  height:132px;
  text-align:left;
}
#u1907 {
  position:absolute;
  left:2px;
  top:58px;
  width:66px;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:132px;
}
#u1908 {
  position:absolute;
  left:138px;
  top:30px;
  width:232px;
  height:132px;
  text-align:left;
}
#u1909 {
  position:absolute;
  left:2px;
  top:34px;
  width:228px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:132px;
}
#u1910 {
  position:absolute;
  left:370px;
  top:30px;
  width:199px;
  height:132px;
  text-align:left;
}
#u1911 {
  position:absolute;
  left:2px;
  top:2px;
  width:195px;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:132px;
}
#u1912 {
  position:absolute;
  left:569px;
  top:30px;
  width:56px;
  height:132px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:58px;
  width:52px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:132px;
}
#u1914 {
  position:absolute;
  left:625px;
  top:30px;
  width:47px;
  height:132px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:58px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:122px;
}
#u1916 {
  position:absolute;
  left:0px;
  top:162px;
  width:19px;
  height:122px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:53px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:122px;
}
#u1918 {
  position:absolute;
  left:19px;
  top:162px;
  width:49px;
  height:122px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:53px;
  width:45px;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:122px;
}
#u1920 {
  position:absolute;
  left:68px;
  top:162px;
  width:70px;
  height:122px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:53px;
  width:66px;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:122px;
}
#u1922 {
  position:absolute;
  left:138px;
  top:162px;
  width:232px;
  height:122px;
  text-align:left;
}
#u1923 {
  position:absolute;
  left:2px;
  top:45px;
  width:228px;
  word-wrap:break-word;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:122px;
}
#u1924 {
  position:absolute;
  left:370px;
  top:162px;
  width:199px;
  height:122px;
  text-align:left;
}
#u1925 {
  position:absolute;
  left:2px;
  top:29px;
  width:195px;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:122px;
}
#u1926 {
  position:absolute;
  left:569px;
  top:162px;
  width:56px;
  height:122px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:53px;
  width:52px;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:122px;
}
#u1928 {
  position:absolute;
  left:625px;
  top:162px;
  width:47px;
  height:122px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:53px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:38px;
}
#u1930 {
  position:absolute;
  left:0px;
  top:284px;
  width:19px;
  height:38px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:11px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:38px;
}
#u1932 {
  position:absolute;
  left:19px;
  top:284px;
  width:49px;
  height:38px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u1934 {
  position:absolute;
  left:68px;
  top:284px;
  width:70px;
  height:38px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:38px;
}
#u1936 {
  position:absolute;
  left:138px;
  top:284px;
  width:232px;
  height:38px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:11px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
}
#u1938 {
  position:absolute;
  left:370px;
  top:284px;
  width:199px;
  height:38px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:38px;
}
#u1940 {
  position:absolute;
  left:569px;
  top:284px;
  width:56px;
  height:38px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:11px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:38px;
}
#u1942 {
  position:absolute;
  left:625px;
  top:284px;
  width:47px;
  height:38px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944 {
  position:absolute;
  left:643px;
  top:156px;
  width:25px;
  height:16px;
}
#u1945 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1946 {
  position:absolute;
  left:643px;
  top:284px;
  width:25px;
  height:16px;
}
#u1947 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1948 {
  position:absolute;
  left:11px;
  top:157px;
  width:24px;
  height:16px;
}
#u1949 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1950 {
  position:absolute;
  left:11px;
  top:284px;
  width:24px;
  height:16px;
}
#u1951 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1952 {
  position:absolute;
  left:75px;
  top:354px;
  width:72px;
  height:38px;
}
#u1952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1953 {
  position:absolute;
  left:147px;
  top:354px;
  width:232px;
  height:38px;
}
#u1953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1954 {
  position:absolute;
  left:379px;
  top:354px;
  width:199px;
  height:38px;
}
#u1954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1955 {
  position:absolute;
  left:578px;
  top:354px;
  width:56px;
  height:38px;
}
#u1955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1956 {
  position:absolute;
  left:644px;
  top:365px;
  width:25px;
  height:16px;
}
#u1957 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1958 {
  position:absolute;
  left:8px;
  top:35px;
  width:65px;
  height:27px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1960 {
  position:absolute;
  left:81px;
  top:35px;
  width:65px;
  height:27px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1962 {
  position:absolute;
  left:154px;
  top:35px;
  width:65px;
  height:27px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:11px;
  top:365px;
  width:24px;
  height:16px;
}
#u1967 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1805_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1805_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1968 {
  position:absolute;
  left:8px;
  top:70px;
  width:677px;
  height:327px;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:7px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:19px;
  top:0px;
  width:49px;
  height:30px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u1973 {
  position:absolute;
  left:68px;
  top:0px;
  width:70px;
  height:30px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:138px;
  top:0px;
  width:232px;
  height:30px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1977 {
  position:absolute;
  left:370px;
  top:0px;
  width:199px;
  height:30px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u1979 {
  position:absolute;
  left:569px;
  top:0px;
  width:56px;
  height:30px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u1981 {
  position:absolute;
  left:625px;
  top:0px;
  width:47px;
  height:30px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:132px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:30px;
  width:19px;
  height:132px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:58px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:132px;
}
#u1985 {
  position:absolute;
  left:19px;
  top:30px;
  width:49px;
  height:132px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:58px;
  width:45px;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:132px;
}
#u1987 {
  position:absolute;
  left:68px;
  top:30px;
  width:70px;
  height:132px;
  text-align:left;
}
#u1988 {
  position:absolute;
  left:2px;
  top:58px;
  width:66px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:132px;
}
#u1989 {
  position:absolute;
  left:138px;
  top:30px;
  width:232px;
  height:132px;
  text-align:left;
}
#u1990 {
  position:absolute;
  left:2px;
  top:18px;
  width:228px;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:132px;
}
#u1991 {
  position:absolute;
  left:370px;
  top:30px;
  width:199px;
  height:132px;
  text-align:left;
}
#u1992 {
  position:absolute;
  left:2px;
  top:18px;
  width:195px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:132px;
}
#u1993 {
  position:absolute;
  left:569px;
  top:30px;
  width:56px;
  height:132px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:58px;
  width:52px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:132px;
}
#u1995 {
  position:absolute;
  left:625px;
  top:30px;
  width:47px;
  height:132px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:58px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:122px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:162px;
  width:19px;
  height:122px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:53px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:122px;
}
#u1999 {
  position:absolute;
  left:19px;
  top:162px;
  width:49px;
  height:122px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:53px;
  width:45px;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:122px;
}
#u2001 {
  position:absolute;
  left:68px;
  top:162px;
  width:70px;
  height:122px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:53px;
  width:66px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:122px;
}
#u2003 {
  position:absolute;
  left:138px;
  top:162px;
  width:232px;
  height:122px;
  text-align:left;
}
#u2004 {
  position:absolute;
  left:2px;
  top:21px;
  width:228px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:122px;
}
#u2005 {
  position:absolute;
  left:370px;
  top:162px;
  width:199px;
  height:122px;
  text-align:left;
}
#u2006 {
  position:absolute;
  left:2px;
  top:21px;
  width:195px;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:122px;
}
#u2007 {
  position:absolute;
  left:569px;
  top:162px;
  width:56px;
  height:122px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:53px;
  width:52px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:122px;
}
#u2009 {
  position:absolute;
  left:625px;
  top:162px;
  width:47px;
  height:122px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:53px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:38px;
}
#u2011 {
  position:absolute;
  left:0px;
  top:284px;
  width:19px;
  height:38px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:11px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:38px;
}
#u2013 {
  position:absolute;
  left:19px;
  top:284px;
  width:49px;
  height:38px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:38px;
}
#u2015 {
  position:absolute;
  left:68px;
  top:284px;
  width:70px;
  height:38px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:38px;
}
#u2017 {
  position:absolute;
  left:138px;
  top:284px;
  width:232px;
  height:38px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:11px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
}
#u2019 {
  position:absolute;
  left:370px;
  top:284px;
  width:199px;
  height:38px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:38px;
}
#u2021 {
  position:absolute;
  left:569px;
  top:284px;
  width:56px;
  height:38px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:11px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:38px;
}
#u2023 {
  position:absolute;
  left:625px;
  top:284px;
  width:47px;
  height:38px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:11px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025 {
  position:absolute;
  left:643px;
  top:156px;
  width:25px;
  height:16px;
}
#u2026 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2027 {
  position:absolute;
  left:643px;
  top:284px;
  width:25px;
  height:16px;
}
#u2028 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2029 {
  position:absolute;
  left:11px;
  top:157px;
  width:24px;
  height:16px;
}
#u2030 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2031 {
  position:absolute;
  left:11px;
  top:284px;
  width:24px;
  height:16px;
}
#u2032 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2033 {
  position:absolute;
  left:75px;
  top:354px;
  width:72px;
  height:38px;
}
#u2033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2034 {
  position:absolute;
  left:147px;
  top:354px;
  width:232px;
  height:38px;
}
#u2034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2035 {
  position:absolute;
  left:379px;
  top:354px;
  width:199px;
  height:38px;
}
#u2035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2036 {
  position:absolute;
  left:578px;
  top:354px;
  width:56px;
  height:38px;
}
#u2036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2037 {
  position:absolute;
  left:644px;
  top:365px;
  width:25px;
  height:16px;
}
#u2038 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2039 {
  position:absolute;
  left:8px;
  top:35px;
  width:65px;
  height:27px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  position:absolute;
  left:81px;
  top:35px;
  width:65px;
  height:27px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  position:absolute;
  left:154px;
  top:35px;
  width:65px;
  height:27px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u2047 {
  position:absolute;
  left:11px;
  top:365px;
  width:24px;
  height:16px;
}
#u2048 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2049 {
  position:absolute;
  left:559px;
  top:452px;
  width:71px;
  height:40px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  position:absolute;
  left:474px;
  top:452px;
  width:71px;
  height:40px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2053 {
  position:absolute;
  left:725px;
  top:442px;
  width:158px;
  height:32px;
  color:#FF0000;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2055 {
  position:absolute;
  left:472px;
  top:515px;
  width:359px;
  height:48px;
  color:#FF0000;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2057 {
  position:absolute;
  left:908px;
  top:155px;
  width:226px;
  height:80px;
  color:#FF0000;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
